aniso8601==4.1.0
asn1crypto==0.24.0
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
Click==7.0
cryptography==2.5
entrypoints==0.3
flake8==3.5.0
flake8-docstrings==1.3.0
flake8-polyfill==1.0.2
Flask==1.0.2
Flask-JWT==0.3.2
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
idna==2.7
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10
jwt==0.6.1
MarkupSafe==1.1.0
mccabe==0.6.1
more-itertools==6.0.0
numpy==1.16.2
pandas==0.24.1
psycopg2==2.7.7
pycodestyle==2.3.1
pycparser==2.19
pydocstyle==2.1.1
pyflakes==1.6.0
PyJWT==1.4.2
python-dateutil==2.8.0
python-dotenv==0.10.1
pytz==2018.9
Quandl==3.4.6
requests==2.20.1
six==1.11.0
snowballstemmer==1.2.1
SQLAlchemy==1.2.18
urllib3==1.24.1
uWSGI==2.0.18
virtualenv==16.0.0
Werkzeug==0.14.1
